@each $color, $value in $theme-colors {
  .modal-#{$color} {

    .modal-content {
      border-color: $value;
    }

    .modal-header {
      color: #fff;
      background-color: $value;
    }
  }
}

.modal {
  overflow: auto;
}

.modal-content {
  margin: 0;
}

.modal-dialog.modal-xl {
  max-width: 1070px;
}
